.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.company-name{
    margin-bottom: 10px;
    font-size: 18px;
}

.name{
    font-size: 36px;
    margin-bottom: -5px;
}

.stars{
    font-size: 22px;
    margin-bottom: 10px;
}

.description{
    font-size: 24px;
    margin-bottom: 10px;

}